@import '~antd/dist/antd.css';

.App {
  display: flex;
  justify-content: space-between;
}

.content {
    width: 100%;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    padding-left: 260px;
}

.intro-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.content-sections-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
}

.content-sections {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work-projects-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project-xp-card {
    width: 600px;
    height: 300px;
    margin-top: 20px;
}

.typography-title {
    padding: 12px
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90%;
    margin-bottom: 50px;
}

.project-video {
    height: 70%;
    margin-top: 4px;
    margin-left: 4px;
}

.project-link:hover {
    color: black
}

.container-carousel {
    height: 'auto'
}

a:hover {
    color: white
}

.skillsImg {
    width: 10%;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

.skillsImg:hover {
    filter: drop-shadow(8px 8px 8px rgba(0,0,0,0.5)); 
}
